<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #60b4a8; height: 10vh;">
    <div class="container-fluid">
        <div class="d-flex">
            <a class="navbar-brand text-light" href="#">
                <img src="#" style="max-height:7.5vh; width: auto; border-radius: 50%;">
                Company
            </a>
            <a class="nav-link text-light" href="/project">Project</a>
            <a class="nav-link text-light" href="/team">Team</a>
            <a class="nav-link text-light" href="/employee">Employee</a>
        </div>
        <div class="d-flex justify-content-end align-items-center">
            <% if (typeof login !== 'undefined' && login) { %>
                <a class="bi bi-person-fill mx-3" style="font-size: 2rem;"> : <%= username %></a>
                <input class="btn btn-danger btn-lg w-25 mx-3" value="Logout" onclick="location.href='/logout';">
            <% } else{ %>
                <a class="bi bi-person-fill mx-3" style="font-size: 2rem;"></a>
            <% } %>
        </div>
    </div>
</nav>