<%- include('head') %>
<link rel="stylesheet" href="/css/table.css">
<%- include('header') %>
<style>
    #row-1col{
        text-align: center;
    }
    #row-3col{
        text-align: center;
    }
    #status-fin{
        background: #6CD396;
        border-radius: 30px;
        color: white;
        text-align: center;

    }
    #status-inpro{
        background: #84DCE1;
        border-radius: 30px;
        color: white;
        text-align: center;

    }
    #status-notsta{
        background: #FF8383;
        border-radius: 30px;
        color: white;
        text-align: center;
    }
</style>
<body>
        <div>
            <h1 class="mx-5 my-4">All Project</h1>
            <div class="row mx-auto py-4" id="row-table-head">
                <div class="col-2"  id="row-1col">
                    Project no.
                </div>
                <div class="col-8">
                    Name
                </div>
                <div class="col-2"  id="row-3col">
                    Status
                </div>
            </div>
            <div type="button" class="row mx-auto my-4 py-4" id="row-table">
                    <div class="col-2" id="row-1col">
                        001
                    </div>
                    <div class="col-8">
                        Lavender Haze
                    </div>
                    <div class="col-2">
                        <div class="w-75 mx-auto" id="status-fin">
                            Finish
                        </div>
                    </div>
            </div>
            <div type="button" class="row mx-auto my-4 py-4" id="row-table">
                <div class="col-2" id="row-1col">
                    002
                </div>
                <div class="col-8">
                    Maroon
                </div>
                <div class="col-2">
                    <div class="w-75 mx-auto" id="status-inpro">
                        In progress
                    </div>
                </div>
            </div>
            <div type="button" class="row mx-auto my-4 py-4" id="row-table">
                <div class="col-2" id="row-1col">
                    003
                </div>
                <div class="col-8">
                    Anti-Hero
                </div>
                <div class="col-2">
                    <div class="w-75 mx-auto" id="status-notsta">
                        Not Started
                    </div>
                </div>
            </div>
            <div class="row mx-auto my-4 py-4" id="row-table">
                <div class="col-2" id="row-1col">
                    
                </div>
                <div class="col-8">
                    
                </div>
                <div class="col-2">

                </div>
            </div>
            <div class="row mx-auto my-4 py-4" id="row-table">
                <div class="col-2" id="row-1col">
                    
                </div>
                <div class="col-8">
                    
                </div>
                <div class="col-2">

                </div>
            </div>
            <div class="row mx-auto my-4 py-4" id="row-table">
                <div class="col-2" id="row-1col">
                    
                </div>
                <div class="col-8">
                    
                </div>
                <div class="col-2">

                </div>
            </div>
        </div>

</body>
</html>