<%- include('head') %>
<%- include('header') %>
<body>
    <div id="app">
        <main>
            <div class="container-fluid" style="min-height: 80vh; background-color:#F5F5F5;">
                <div class="row">
                    <div class="col text-center my-2" style="color:rgb(96, 150, 180); font-size: 1.6rem;">
                        Manage Requirement
                    </div>
                </div>
                <div class="container-fluid" style="width: 75vw; background-color: rgb(240, 223, 204);">
                    <div class="row">
                        <div class="col col-2 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                            <div>รหัส Requirement</div>
                            <div class="bg-light text-center" style="border-radius: 10px;">11626</div>
                        </div>
                        <div class="col col-8 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                            <div>ชื่อ Project</div>
                            <div class="bg-light text-center" style="border-radius: 10px;">EZ</div>
                        </div>
                        <div class="col col-2 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                            <div>ชื่อ ผู้เสนอ</div>
                            <div class="bg-light text-center" style="border-radius: 10px;">11626</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-2 my-3" style="font-size: 1.2rem;">
                            <div class="row" style="height: 10vh;">
                                <div class="col align-self-start">
                                    <div>เสนอราคา</div>
                                    <div class="bg-light text-center" style="border-radius: 10px;">11626</div>
                                </div>
                            </div>
                            <div class="row" style="height: 10vh;">
                                <div class="col align-self-center">
                                    <div>กำหนดการ</div>
                                    <div class="bg-light text-center" style="border-radius: 10px;">11626</div>
                                </div>
                            </div>
                            <div class="row" style="height: 10vh;">
                                <div class="col align-self-end">
                                    <div>ทีมที่รับผิดชอบ</div>
                                    <div class="bg-light text-center" style="border-radius: 10px;">11626</div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-8 my-2 d-flex flex-column" style="font-size: 1.2rem;" style="height: 30vh;">
                            <div>รายละเอียด Project</div>
                            <div class="bg-light h-100 px-4 py-1" style="border-radius: 10px;">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam alias iure, eveniet at quibusdam numquam doloremque omnis repudiandae, ea in molestias itaque voluptas expedita iste. Expedita possimus distinctio consequatur reprehenderit.
                            </div>
                        </div>
                        <div class="col col-2 my-2 d-flex flex-column align-self-start" style="font-size: 1.2rem;" style="height: 30vh;">
                            <div>สถานะ</div>
                            <div class="bg-light text-center" style="border-radius: 10px;">11626</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center my-2" style="color:rgb(96, 150, 180); font-size: 1.6rem;">
                            <button type="button" class="btn" style="background-color:rgb(255, 107, 0); color:rgb(255, 255, 255)">เพิ่ม Project</button>
                        </div>
                    </div>
                </div>
                <div class="container-fluid mt-4" style="width: 75vw; background-color: rgb(240, 223, 204);">
                    <div class="row">
                        <div class="col col-2 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                            <div>Comments</div>
                        </div>
                    </div>

                    <div class="row Comments">
                        <div class="col col-2 my-2 d-flex flex-column text-right" style="font-size: 1.2rem;">
                            <div>Username :</div>
                        </div>
                        <div class="col col-8 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                            <div class="bg-light" style="border-radius: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat soluta eos, dolor minus quaerat minima possimus tempore omnis similique quibusdam quo laboriosam dolorum atque aspernatur cumque ipsam consectetur voluptas impedit.</div>
                        </div>
                        <div class="col col-2 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                            <div class="bg-light text-center" style="border-radius: 10px;">00:00</div>
                        </div>
                    </div>
                    <div class="row Comments">
                        <div class="col col-2 my-2 d-flex flex-column text-right" style="font-size: 1.2rem;">
                            <div>Username :</div>
                        </div>
                        <div class="col col-8 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                            <div class="bg-light" style="border-radius: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat soluta eos, dolor minus quaerat minima possimus tempore omnis similique quibusdam quo laboriosam dolorum atque aspernatur cumque ipsam consectetur voluptas impedit.</div>
                        </div>
                        <div class="col col-2 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                            <div class="bg-light text-center" style="border-radius: 10px;">00:00</div>
                        </div>
                    </div>
                    <div class="row Comments">
                        <div class="col col-2 my-2 d-flex flex-column text-right" style="font-size: 1.2rem;">
                            <div>Username :</div>
                        </div>
                        <div class="col col-8 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                            <div class="bg-light" style="border-radius: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat soluta eos, dolor minus quaerat minima possimus tempore omnis similique quibusdam quo laboriosam dolorum atque aspernatur cumque ipsam consectetur voluptas impedit.</div>
                        </div>
                        <div class="col col-2 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                            <div class="bg-light text-center" style="border-radius: 10px;">00:00</div>
                        </div>
                    </div>
                    <div class="row Comments">
                        <div class="col col-2 my-2 d-flex flex-column text-right" style="font-size: 1.2rem;">
                            <div>Username :</div>
                        </div>
                        <div class="col col-8 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                            <div class="bg-light" style="border-radius: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat soluta eos, dolor minus quaerat minima possimus tempore omnis similique quibusdam quo laboriosam dolorum atque aspernatur cumque ipsam consectetur voluptas impedit.</div>
                        </div>
                        <div class="col col-2 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                            <div class="bg-light text-center" style="border-radius: 10px;">00:00</div>
                        </div>
                    </div>

                    <div style="height: 1.2rem;"></div>
                </div>
            </div>
            <div class="container-fluid" style="min-height: 2rem; background-color:rgb(235, 213, 187);"></div>
        </main>
        <%- include('footer') %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
    var app = new Vue({
    el: '#app',
    data: {
        center:{
            'd-flex': true,
            'justify-content-center':true,
            'align-items-center':true
        },
    },
    methods: {
        
    },
    computed:{
        
    },
    watch:{
        
    },
})
    </script>
</body>
</html>