<%- include('head') %>
<link rel="stylesheet" href="/css/login.css">
<%- include('header') %>
<body>
    <div id="app">
        <main>
            <% if (typeof alert !== 'undefined') { %>
                <script>alert('<%= alert %>')</script>
            <% } %>
            <div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 80vh; background-color:#F5F5F5;">
                <div class="login">
                    <h1 class="text-center">
                        Sign Up
                    </h1>
                    <form class="needs-validation" name="register" action="/register" onsubmit="return validateForm()" method="POST">
                        <div class="form-group was-validated">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required placeholder="ชื่อผู้ใช้" maxlength="30" v-model="username">
                            <div class="invalid-feedback">
                                Please enter your username
                            </div>
                        </div>

                        <div class="form-group was-validated">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" :type="showPassword ? 'text' : 'password'" id="password" required placeholder="รหัสผ่าน" maxlength="20" v-model="password">
                            <div class="invalid-feedback">
                                Please enter your password
                            </div>
                        </div>

                        <div class="form-group was-validated">
                            <label class="form-label" for="password">Confirm Password</label>
                            <input class="form-control" :type="showPassword ? 'text' : 'password'" id="confirmPassword" name="password" required placeholder="ยืนยันรหัสผ่าน" maxlength="20" v-model="Confirmpassword">
                            <div class="invalid-feedback">
                                Please enter your password
                            </div>
                            
                        </div>

                        <div class="form-group form-check">
                            <input class="form-check-input" type="checkbox" id="check" v-model="showPassword">
                            <label class="form-check-label" for="showpass">Show Password</label>
                        </div>
                        <input class="btn btn-success w-100" type="submit" value="SIGN UP">
                    </form>
                </div>
            </div>
        </main>
        <%- include('footer') %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        function validateForm() {
            let username = document.getElementById("username").value;
            let password = document.getElementById("password").value;
            let confirmPassword = document.getElementById("confirmPassword").value;
            if (password.length < 6 || password.length > 20) {
                alert('รหัสผ่าน 6-20 ตัวอักษร');
                return false;
            }
            else if (password !== confirmPassword) {
                alert('รหัสผ่านไม่เหมือนกัน');
                return false;
            }
        }
        var app = new Vue({
        el: '#app',
        data: {
            username: "",
            password: "",
            Confirmpassword:"",
            showPassword: false,
            center:{
                'd-flex': true,
                'justify-content-center':true,
                'align-items-center':true
            },
        },
        methods: {
            
        },
        computed:{
            
        },
        watch:{
            
        },
        computed:{
        }
        })
    </script>
</body>
</html>