<%- include('head') %>
<link rel="stylesheet" href="/css/table.css">
<%- include('header') %>
<style>
    #row-1col{
        left: 3%;
    }
    #row-2col{
        justify-items: right;
    }
    #icon{
        color:#6096B4;
    }
    #icon:hover{
        color:hsl(201, 36%, 30%);
        transition: 0.1s;
    }
    #add_but{
        background: #EEE9DA;
        border-radius: 30px;
        width: 15%;
        text-align: center;
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        padding: 10px;
    }
    #add_but:hover{
        background: hsl(45, 37%, 85%);
        transition: 0.1s;
    }
</style>
<body>
        <div>
            <div class="row mx-5 my-4">
                <!-- Team Name Can Change Follow Name of Team -->
                <h1>Team Name</h1>
                <div type="button" class="mx-5" id="add_but">+ Add new person</div>
            </div>
            <div class="row mx-auto py-4" id="row-table-head">
                <div class="col-5"  id="row-1col">
                    Name
                </div>
                <div class="col-7">
                    Roles
                </div>
            </div>
            <div type="button" class="row mx-auto my-4 py-4" id="row-table">
                <div class="col-5" id="row-1col">
                    Mark Hendry
                </div>
                <div class="col-7">
                    Project Manager
                </div>
            </div>
            <div type="button" class="row mx-auto my-4 py-4" id="row-table">
                <div class="col-5" id="row-1col">
                    Camera Bluehawaii
                </div>
                <div class="col-7">
                    Developer
                </div>
            </div>
            <div type="button" class="row mx-auto my-4 py-4" id="row-table">
                <div class="col-5" id="row-1col">
                    Kawaii Baby
                </div>
                <div class="col-7">
                    Tester
                </div>
            </div>
            <div type="button" class="row mx-auto my-4 py-4" id="row-table">
                <div class="col-5" id="row-1col">

                </div>
                <div class="col-7">

                </div>
            </div>
            <div type="button" class="row mx-auto my-4 py-4" id="row-table">
                <div class="col-5" id="row-1col">

                </div>
                <div class="col-7">

                </div>
            </div>
            <div type="button" class="row mx-auto my-4 py-4" id="row-table">
                <div class="col-5" id="row-1col">

                </div>
                <div class="col-7">
                    
                </div>
            </div>
        </div>

</body>
</html>