<%- include('head') %>
<link rel="stylesheet" href="/css/table.css">
<%- include('header') %>
<style>
    #row-1col{
        left: 3%;
    }
    #row-2col{
        justify-items: right;
    }
    #icon{
        color:#6096B4;
    }
    #icon:hover{
        color:hsl(201, 36%, 30%);
        transition: 0.1s;
    }
    #add_but{
        background: #EEE9DA;
        border-radius: 30px;
        width: 15%;
        text-align: center;
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        padding: 10px;
    }
    #add_but:hover{
        background: hsl(45, 37%, 85%);
        transition: 0.1s;
    }
</style>
<body>
        <div>
            <div class="row mx-5 my-4">
                <h1>All Teams</h1>
                <div type="button" class="mx-5" id="add_but">+ Create new team</div>
            </div>
            <div type="button" class="row mx-auto my-4 py-4" id="row-table">
                    <div class="col-10" id="row-1col">
                        Akasuki Team
                    </div>
                    <div class="col-2" id="row-2col">
                        <a class="bi bi-gear-fill mx-4" id="icon" href="#" style="font-size: 2rem;"></a>
                        <a class="bi bi-trash3-fill mx-4" id="icon" href="#" style="font-size: 2rem;"></a>
                    </div>
            </div>
            <div type="button" class="row mx-auto my-4 py-4" id="row-table">
                <div class="col-10" id="row-1col">
                    Grapes Juice
                </div>
                <div class="col-2" id="row-2col">
                    <a class="bi bi-gear-fill mx-4" id="icon" href="#" style="font-size: 2rem;"></a>
                    <a class="bi bi-trash3-fill mx-4" id="icon" href="#" style="font-size: 2rem;"></a>
                </div>
            </div>
            <div type="button" class="row mx-auto my-4 py-4" id="row-table">
                <div class="col-10" id="row-1col">
                    いっぱいいっぱいありがとう
                </div>
                <div class="col-2" id="row-2col">
                    <a class="bi bi-gear-fill mx-4" id="icon" href="#" style="font-size: 2rem;"></a>
                    <a class="bi bi-trash3-fill mx-4" id="icon" href="#" style="font-size: 2rem;"></a>
                </div>
            </div>
            <div type="button" class="row mx-auto my-4 py-4" id="row-table">
                <div class="col-10" id="row-1col">

                </div>
                <div class="col-2" id="row-2col">

                </div>
            </div>
            <div type="button" class="row mx-auto my-4 py-4" id="row-table">
                <div class="col-10" id="row-1col">

                </div>
                <div class="col-2" id="row-2col">

                </div>
            </div>
            <div type="button" class="row mx-auto my-4 py-4" id="row-table">
                <div class="col-10" id="row-1col">

                </div>
                <div class="col-2" id="row-2col">

                </div>
            </div>
        </div>

</body>
</html>