<%- include('head') %>
<link rel="stylesheet" href="/css/table.css">
<%- include('header') %>
<style>
    .row-1col{
        left: 3%;
    }
    .row-2col{
        justify-items: right;
    }
    .icon{
        color:#6096B4;
    }
    .icon:hover{
        color:hsl(201, 36%, 30%);
        transition: 0.1s;
    }
    .add_but{
        background: #EEE9DA;
        border-radius: 30px;
        width: 15%;
        text-align: center;
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        padding: 10px;
    }
    .add_but:hover{
        background: hsl(45, 37%, 85%);
        transition: 0.1s;
    }
</style>
<body>
    <div id="app">
        <main>
            <div class="container-fluid" style="min-height: 80vh;">
                <div class="row mx-5 my-4">
                    <h1>All Teams</h1>
                    <div type="button" class="mx-5" :class="'add_but'" onclick="location.href='/team/create';">+ Create new team</div>
                </div>

                <div class="row mx-auto py-4" :class="'row-table-head'">
                    <div class="col-2"  :class="'row-1col'">
                        Team Name
                    </div>
                </div>

                <template v-for="team in teams">
                    <div type="button" class="row mx-auto my-4 py-4" :class="'row-table'">
                            <div class="col-10" :class="'row-1col'">
                                {{team.team_name}}
                            </div>
                            <div class="col-2" :class="'row-2col'">
                                <a class="bi bi-gear-fill mx-4" :class="'icon'" href="get" style="font-size: 2rem;"></a>
                                <a class="bi bi-trash3-fill mx-4" :class="'icon'" :href="'/team/del/'+team.team_name" style="font-size: 2rem;"></a>
                            </div>
                    </div>
                </template>
                <!-- <div type="button" class="row mx-auto my-4 py-4" :class="'row-table'">
                    <div class="col-10" :class="'row-1col'">
                        Akasuki Team
                    </div>
                    <div class="col-2" :class="'row-2col'">
                        <a class="bi bi-gear-fill mx-4" :class="'icon'" href="#" style="font-size: 2rem;"></a>
                        <a class="bi bi-trash3-fill mx-4" :class="'icon'" href="#" style="font-size: 2rem;"></a>
                    </div>
                </div>
                <div type="button" class="row mx-auto my-4 py-4" :class="'row-table'">
                    <div class="col-10" :class="'row-1col'">
                        Grapes Juice
                    </div>
                    <div class="col-2" :class="'row-2col'">
                        <a class="bi bi-gear-fill mx-4" :class="'icon'" href="#" style="font-size: 2rem;"></a>
                        <a class="bi bi-trash3-fill mx-4" :class="'icon'" href="#" style="font-size: 2rem;"></a>
                    </div>
                </div>
                <div type="button" class="row mx-auto my-4 py-4" :class="'row-table'">
                    <div class="col-10" :class="'row-1col'">
                        いっぱいいっぱいありがとう
                    </div>
                    <div class="col-2" :class="'row-2col'">
                        <a class="bi bi-gear-fill mx-4" :class="'icon'" href="#" style="font-size: 2rem;"></a>
                        <a class="bi bi-trash3-fill mx-4" :class="'icon'" href="#" style="font-size: 2rem;"></a>
                    </div>
                </div>
                <div type="button" class="row mx-auto my-4 py-4" :class="'row-table'">
                    <div class="col-10" :class="'row-1col'">

                    </div>
                    <div class="col-2" :class="'row-2col'">

                    </div>
                </div>
                <div type="button" class="row mx-auto my-4 py-4" :class="'row-table'">
                    <div class="col-10" :class="'row-1col'">

                    </div>
                    <div class="col-2" :class="'row-2col'">

                    </div>
                </div>
                <div type="button" class="row mx-auto my-4 py-4" :class="'row-table'">
                    <div class="col-10" :class="'row-1col'">

                    </div>
                    <div class="col-2" :class="'row-2col'">

                    </div>
                </div> -->
            </div>
        </main>
        <%- include('footer') %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
    var app = new Vue({
    el: '#app',
    data: {
        center:{
            'd-flex': true,
            'justify-content-center':true,
            'align-items-center':true
        },
        teams: JSON.parse(`<%- teams %>`),
    },
    methods: {
        del(teamName){
            location.href="/project/"+id+"/detail";
        }
    },
    computed:{
        
    },
    watch:{
        
    },
    })
    </script>

</body>
</html>