h1{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
}
.row-table-head{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    width: 94%;
    height: 77px;
    
}
.row-table{
    background-color : #E7E7E7;
    border-radius: 30px;
    width: 94%;
    height: 77px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
}
.row-table:hover{
    background-color : hsl(0, 0%, 85%);
    transition: 0.1s;
}